@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import 'https://fonts.googleapis.com/css?family=Karla';

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #141414;
}

nav a {
    text-decoration: none;
    font-family: karla;
    color: lightgray;
    font-size: 18px;
}

nav a:hover {
    color: white;
    transition-duration: 300ms;
}

nav ul li {
    display: inline-block;
    list-style: none;
    padding: 20px;
    margin: 0;
}

/*image*/

#center {
    display: block;
    margin-top: 400px;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    height: 540px;
}